.edit, .del{
	color: #000000;
}
.readonly{
	cursor: pointer;
    cursor: hand;
	background-color: #FFFFFF
}
#img_cover2 {
	border: 10px solid transparent;
	padding: 15px;
	-webkit-border-image: url(images/border.png) 30 stretch; /* Safari 3.1-5 */
	-o-border-image: url(images/border.png) 30 stretch; /* Opera 11-12.1 */
	border-image: url(images/border.png) 30 stretch;
}
.center_modal {
    text-align: center;
    padding-bottom: 10px;
}
.borderless td, .borderless th {
    border-top: none;
	vertical-align: top;
}

.title_vertical{
	text-align:right;
}