/*
 * Bookshelf Slider jQuery Plugin - v1.6
 * Author: Sergio Valle
 * Date: Set 22, 2014
 *
*/

.bookshelf_slider *, .bookshelf_slider *:before, .bookshelf_slider *:after {
	-webkit-box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	box-sizing:content-box !important;
}

/* panel title */

.panel_title { 
	background:#93643a url(../assets/bookshelf_skin01_top_bg.jpg) repeat; color:#e4b173; width:960px; height:54px; text-align:center; margin:0 auto; overflow: hidden;
}

.selected_title_box { text-align:left; display:none; }
.selected_title { 
	color:#e4b173; padding:2px 8px; background:#000; border:#444 solid 1px; font-size:16px; font-family:Arial, Helvetica, sans-serif; 
	height:20px; line-height:20px; margin-top:15px; margin-left:15px; display:block; float:left;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; border:#555 solid 1px;
}


/* menu top */

.menu_top { float:right; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:12px; margin:15px 15px 0px auto; letter-spacing:1px; }
.menu_top ul { list-style:none; margin:0; padding:0; margin-top:0px; margin-left:10px; }
.menu_top ul li { 
	list-style:none; margin:0; padding:0; display:block; float:left; margin-right:5px; 
	display:block; padding:4px 8px; outline:none; background:transparent url(../assets/menutopli_bg.png) repeat;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; border:#d39e6b solid 1px;
	box-shadow:1px 1px 4px rgba(0, 0, 0, 0.4); -moz-box-shadow:1px 1px 4px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	}

.menu_top ul li a { 
	color:#f5c994 !important; text-decoration:none; display:block; padding:2px 2px; outline:none; text-shadow:1px 1px 1px #000;
}
.menu_top ul li a:hover { 
	color:#f5c994 !important; text-decoration:none; display:block; padding:2px 2px; outline:none; text-shadow:1px 1px 1px #000;
}


/* panel slider */

.panel_slider {
	position:relative; border-bottom:1px solid #333; border-bottom-color:#aa7f55; width:960px; height:360px; margin:auto; padding-top:0px; overflow: hidden;
	box-shadow:0px 1px 2px rgba(0, 0, 0, 0.3); -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.3);
	background:#93643a url(../assets/bookshelf_skin01_bg.jpg) repeat; background-position:0 30px;
}
.panel_slider a,visited { color:#777; text-decoration:none; }
.panel_slider a:hover { color:#333; }
.panel_slider img { border:none; }
.panel_items { }


/* panel bar */

.panel_bar { 
	background:#93643a url(../assets/bookshelf_skin01_bottom_bg.jpg) repeat-x left bottom; width:960px; height:60px; text-align:center; margin:0 auto; overflow: hidden;
	border-top:none; font-size:12px; font-family:Arial, Helvetica, sans-serif; letter-spacing:1px;
	box-shadow:0px 1px 2px rgba(0, 0, 0, 0.3); -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.3);
}

.button_items { margin-top:10px; position:relative; height:20px; }
.button_bar { margin-left:10px; float:left; cursor:pointer; display:block; }
.button_bar a { text-decoration:none; color:#f5cc9a; text-shadow:1px 1px 1px #000; outline:none; }
.button_bar a:hover { text-decoration:none; color:#f5cc9a; text-shadow:1px 1px 1px #000; outline:none; }
.buttons_container { margin:0 auto; position:relative; height:60px; }

/* slides */

.slide_animate { position:relative; margin:0; padding:0; left:0px; top:0px; float:left; background:url(../assets/bookshelf_skin01_bg.jpg) repeat; background-position:0 30px; display:block; }
.slide_animate img { display:block; }

/* products */

.products_box { height:20px; margin-left:20px; }
.product { float:left; margin-right:30px; margin-top:36px; height:107px; position:relative; display:block; }
.product img { display:block; border:none; cursor:pointer; }

.product_title { 
	position:absolute; z-index:999; padding:3px 3px 5px 3px; text-align:center; color:#ffffff; background:#c33b4e; overflow:hidden; max-height:11px; line-height:14px; min-width:5px; max-width:80%;
	box-shadow:0px 0px 8px rgba(0, 0, 0, 0.4); -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4); word-wrap:break-word;
}
.product_title p { margin:0; padding:0; font-size:11px; padding:0 2px; font-family:Arial, Helvetica, sans-serif; }
.product_description { display:none; }

/* effects */

.fx_magazine { position:absolute; left:0; top:0; display:block; height:107px; content:url(../assets/magazine_fx.png);}
.fx_book { position:absolute; left:0; top:0; display:block; height:107px; content:url(../assets/book_fx.png);}
.fx_cd { position:absolute; left:0; top:0; display:block; height:107px; content:url(../assets/cd_fx.png);}
.fx_dvd { position:absolute; left:0; top:0; display:block; height:107px; content:url(../assets/dvd_fx.png);}
.fx_shadow { position:absolute; right:-15px; top:0; display:block; height:107px; content:url(../assets/shadow_fx.png);}
/* overlay */

.icons_sprite { 
	position:absolute; left:0; top:0; 
	display:block; width:24px; height:24px;
	background:transparent url(../assets/icons_sprite.png) no-repeat; background-position:0 0; 
}

/* arrow */

#arrow_box { text-align:left; }
#arrow_menu { position:relative; left:10px; background:transparent url(../assets/arrow.png) no-repeat; width:20px; height:12px; display:none; }

#debug { background-color:#eee; border:#ddd dashed 1px; min-height:15px; width:944px; margin:40px auto; font-size:12px; font-family:Arial, Helvetica, sans-serif; padding:8px; }

/* popup window */

#mask_popup { 
	position:absolute; left:0; top:0; z-index:9000; 
	background-color:#000; display:none;
}

#popup_title { position:absolute; color:#000; 
	font-family:Arial, Helvetica, sans-serif; font-size:14px; top:0px; text-align:left; 
	background-color:#fff; padding:0 0 0 15px; line-height:32px; border-bottom:#f4f4f4 solid 1px; display:none;
	
	-webkit-box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	box-sizing:content-box !important;
}
#popup_info { 
	position:fixed; left:0; top:0; 
	width:40px; height:50%; display:block; z-index:9999; background:#FFF; padding:15px; 
	border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;

	-webkit-box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	box-sizing:content-box !important;
}
/*
#popup_info #iframe_content body {
	height:100%; max-height: 100%; background:#fff !important; overflow:auto; -webkit-overflow-scrolling: touch;
}
*/

#preload_icon { left:40%; top:40%; position:absolute; content:url(../assets/preload.gif);}
#bs_close_button { width:30px; height:30px; float:right; cursor:pointer; background:#fff url(../assets/btn_close.png) no-repeat; }


/* arrows navigate */

#more_minus_box {
	z-index:1; position:absolute; bottom:50px; right:10px; width:24px; height:50px; background:url(../assets/nav_bg.png) repeat; padding:2px; opacity:0;
	box-shadow:0px 0px 8px rgba(0, 0, 0, 0.7); -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.7); -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
}

#icon_minus {
	background:#000; position: absolute; top: 2px; width:24px; height:24px; border:none; background:transparent url(../assets/icon_minus.png) no-repeat; cursor:pointer; display:block; margin-bottom:2px;
}
#icon_more {
	background:#000; position: absolute; top: 28px; width:24px; height:24px; border:none; background:transparent url(../assets/icon_more.png) no-repeat; cursor:pointer; display:block;
}

.img_thumb { position:relative; top:0 }